.h-hero {
  //height: 100px;
  //position: absolute;
  .hero-head {
    //height: 100%;
  }

  .navbar {
    height: 6rem;

    .navbar-item {
      padding-right: 50px;
      a {
        color: #333;
        font-size: 1.2rem;
      }
    }
    .navbar-item img {
      max-height: 20rem;
      margin-bottom: 0;
    }
  }
  .hero-body {
    height: 70%;
  }
}

.navbar-menu {
  //display: flex;
  //justify-content: space-between;

  .active-nav-item {
    color: rgb(115, 160, 226);
    border-bottom: 3px solid rgb(115, 160, 226);
  }
}
.navbar-menu a:hover {
  color: rgb(115, 160, 226);
  border-bottom: 3px solid rgb(115, 160, 226);
}
// @media screen and (max-width: 1024px) {
//   .navbar-brand {
//     .navbar-menu {
//       //display: show all;
//       align-items: stretch;
//       display: flex;
//       // flex-grow: 1;
//       // flex-shrink: 0;
//     }
//   }
// }
// @media screen and (max-width: 1023px) {
//   .navbar.is-spaced .navbar-dropdown,
//   .navbar-dropdown.is-boxed {
//     border-radius: 6px;
//     border-top: none;
//     box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
//     display: block;
//     opacity: 0;
//     pointer-events: none;
//     top: calc(100% + (-4px));
//     /* -webkit-transform: translateY(-5px); */
//     transform: translateY(-5px);
//     /* -webkit-transition-duration: 86ms; */
//     transition-duration: 86ms;
//     /* transition-property: opacity, -webkit-transform; */
//     /* -webkit-transition-property: opacity, -webkit-transform; */
//     /* transition-property: opacity, transform; */
//     transition-property: opacity, transform, -webkit-transform;
//   }
// }
